[Unit]
Description=i3 session initialisation
BindsTo=graphical-session.target
Wants=graphical-session-pre.target xdg-desktop-autostart.target
After=graphical-session-pre.target
