[Desktop Entry]
Type=Action
Name=Print file
Name[de]=Datei drucken
ToolbarLabel[de]=Datei drucken
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Exec=/home/manuel/.local/share/file-manager/bin/Print.sh "libreoffice --headless --pt" %F
Icon-Name=printer
Selection=notnone
MimeTypes=application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.presentation;application/vnd.openxmlformats-officedocument.wordprocessingml.document;
Quote=double
Dependencies=libreoffice;zenity;
